.selectBoxBase {
	position: relative;
}

.selectBoxContentContainer {
	position: absolute;
	background-color: red;
	left: 0;
	top: calc(100% + 0.25rem);
	background-color: white;
	padding: 0.75rem;
	border-radius: 0.25rem;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
	opacity: 0;
	pointer-events: none;
	transform: translateY(-10px);
	transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
	z-index: 3;
	width: 100%;
	text-align: left;
	overflow-y: auto;
	height: 85vh;
}

.selectBoxBase:focus-within > .selectBoxContentContainer {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

.selectBox-head {
	padding: 10px 60px;
	cursor: pointer;
	box-shadow: 0 0 8px 4px hsl(0deg 0% 78% / 21%);
	border: 1px solid var(--select-border);
}
.selectBoxBase:focus-within > .selectBox-head {
	color: black;
	font-weight: 600;
}

.selectBox-selectedContainer {
	border-bottom: 2px solid var(--select-border);
	padding: 0 0 10px;
}

.selectBox-selectedItem {
	background-color: cornflowerblue;
	color: #fff;
	cursor: pointer;
}
.selectBox-unselectedContainer {
}
.selectBox-unselectedItem {
	cursor: pointer;
}
