.selectBoxBase {
	position: relative;
	border-radius: 5px;
}

.selectBox-head {
	padding: 10px 60px;
	cursor: pointer;
	border: 1px solid var(--select-border);
	border-radius: 3px;
	white-space: nowrap;
}

.selectBox-arrow {
	display: inline-block;
	transform: rotate(90deg);
	font-size: 18px;
	height: 19px;
	line-height: 16px;
}

.selectBoxContentContainer {
	position: absolute;
	background-color: red;
	left: 0;
	top: 10%;
	background-color: white;
	padding: 10px 0;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
	width: 100%;
	text-align: left;
	height: 85vh;
	overflow-y: auto;
	transform: translateY(-10px);
	transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
	z-index: 3;
	opacity: 0;
	pointer-events: none;
	border-top: 1px solid var(--select-border);
	border-bottom: 1px solid var(--select-border);
	border-radius: 3px;
}
.selectBoxContentContainer::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
.selectBoxContentContainer::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.selectBoxContentContainer::-webkit-scrollbar-thumb {
	background-color: var(--input-light);
	border-radius: 30px;
}

.selectBoxBase:focus-within > .selectBoxContentContainer {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

.selectBox-selectedContainer {
	border-bottom: 2px solid var(--select-border);
	padding: 0 0 10px;
}
.selectBox-unselectedContainer {
	border-top: 2px solid var(--select-border);
	padding: 10px 0 0px;
}
.selectBox-selectedItem,
.selectBox-unselectedItem {
	cursor: pointer;
	padding: 5px 10px;
	font-weight: 600;
	color: #363636;
}

.selectBox-selectedItem {
	background-color: #3971a9;
	color: #fff;
}

.selectBox-unselectedItem:hover {
	background: var(--selected-hover);
}

.selectBox-searchContainer {
	padding: 10px;
}
