.sidebarBase {
	width: var(--sidebar-width);
	height: 100%;
}

.sidebarRows {
	overflow: auto;
	/* Search (height35 + paddingTopBottom0 + border-bottom2) */
	height: calc(100% - 36px);
}
.sidebarRows::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
.sidebarRows::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sidebarRows::-webkit-scrollbar-thumb {
	background-color: var(--input-light);
	border-radius: 30px;
}

.sidebarRow,
.sidebarRow-error {
	padding: var(--sidebar-padding);
	cursor: pointer;
	border-bottom: 2px solid var(--select-border);
	display: flex;
	justify-content: space-between;
}
.sidebarRow-error {
	background-color: var(--stopped-background);
	color: #fff;
}

.sidebar-truckLeft {
	margin-right: 5px;
}
.sidebar-truckRight {
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sidebar-truckNumber {
	color: var(--input-darker);
	margin: 0;
}
.sidebarRow-error .sidebar-truckNumber,
.sidebarRow-error .sidebar-lastStopRunningTime,
.sidebarRow-error .sidebar-lastTruckUpdateTime {
	color: #fff;
}

.sidebar-lastStopRunningTime {
	margin: 0;
	font-size: 14px;
	font-weight: 600;
	color: var(--input-light);
	white-space: nowrap;
}

.sidebar-lastTruckUpdateTime {
	color: var(--input-light);
	font-weight: 600;
	font-size: 13px;
}

.sidebar-truckSpeed {
	white-space: nowrap;
	font-size: 13.33px;
	color: var(--input-light);
	margin: 0;
	font-weight: 600;
}

.sidebarRow .sidebar-truckIcon {
	color: var(--input-light);
}
